<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  
  <div *ngIf="ps.cargando; else productos" align="center">
    <h2>Cargando</h2>
    <app-loading></app-loading>
    <p>Espere por favor</p>
  </div>

  <ng-template #productos>

    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
      <a *ngFor="let producto of ps.productos"
         routerLink="/item" 
         class="animate__animated animate__fadeIn rk-item ae-masonry__item">
        <img src="assets/productos/{{producto?.url}}.jpg" alt="">
        <div class="item-meta">
          <h2>{{ producto?.titulo }}</h2>
          <p>{{ producto?.categoria }}</p>
        </div>
      </a>
    </div> 

  </ng-template>

  
</section>

